*{
    margin: 0;
}

span{
    display: block;
}

.canvas{
    margin: 100px auto 100px ;
    width: 80%;
    text-align: center;
}

.button{
    height: 100px;
    width: 100px;
    border: solid 2px black;
    display: inline-block;
}

#orange{
    background-color: orange;
}

#palevioletred{
    background-color: palevioletred;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
}

#grey{
    background-color: grey;
}

#purple{
    background-color: purple;
}

#Olive{
    background-color: Olive;
}